@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    background: url(https://live.staticflickr.com/8111/8582571274_3520462b4f_h.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Big Shoulders Display', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
body::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #b0b0b6b4;
    z-index: -1;
}
.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    width: 900px;
}
.toggle-button span {
    font-size: 6rem;
}
.inactive {
    color: #ffffff40;
    transition: 1s linear;
}
.active {
    color: #ffffffcc;
    transition: 1s linear;
}
.toggle {
    display: none;
}
.toggle-container {
    background-color:#FFDFD755;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    margin: 0 40px 0;
    width: 400px;
    height: 200px;
    position: relative;
    box-shadow: 2px 2px 1px rgba(65,65,65,0.5), -2px -2px 1px rgba(255,255,255,0.5);
}
.toggle-ball {
    background:#000000;
    background: url(https://live.staticflickr.com/7169/6850715063_0e38334434.jpg);
